@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
  --font-family-amatic: "Amatic SC", sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --black: #000000;
  --white : #ffffff;
  --pink : #EB635D;
  --red : #D40000;
  --cyanfonce: #2BE9C8;
  --vert : #07FE63;
  --cyanclair : #94F4E3;
  --gris: #525152;
  --grisvert : #3D6664;
  --darkgris : #2B2B2B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p{
  color: var(--white);
  font-weight: 400;
}